@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

body {
    position: absolute;
    background-color: var(--body-bg-color);
    border: 2px solid fuchsia;
}

.container {
    
}

/* start profile */
.profile {
    width: 348px;
    margin-left: 40px;
    border-radius: 20px;
    background-color: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px black;
}

.profile img {
    width: 150px;
    border: 2px solid #00FF00;
    border-radius: 50%;
    margin-top: 32px;
}

.image {
    text-align: center;
    margin-top: 40px;


}

.text {
    text-align: center;
}

.text h2 {
    margin-top: 15px;
    font-weight: bold;
    font-size: 23px;
    color: var(--text-color);
}

.text h3 {
    margin-top: 5px;
    font-weight: lighter;
    font-size: 13px;
    color: var(--text-color);
    padding-bottom: 50px;

}

/* end profile */

/* start projects */

.projects {
    position: relative;
    left: 388px;
    bottom: 293px;
    width: 800px;
    height: 86px;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: var(--bg-cards);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0);
    
}

.link-1 {
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
}

.link-2 {
    margin-right: 30px;
    font-size: 14px;
}

.projects a {
    color: var(--text-color);
}

/* end section projects */

/* start section project-1 */
.project-1 {
    position: relative;
    left: 440px;
    bottom: 273px;

    width: 400px;
    height: 186px;
    color: var(--text-color);
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
    background-color: var(--bg-cards);

} 

.project-1 h3 {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 16px;
    
}

.project-1 img {
    width: 20px;
    
}

.project-1 p {
    padding-top: 30px;
    font-weight: 400px;
    font-size: 14px;
}

.value {
    display: flex;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 0px;
}

.value span {
    padding-left: 7px;
    font-weight: 400px;
    font-size: 14px;
}

.git-branch {
    margin-left: 20px;

}

.technology {
    margin-left: 160px;
}