@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

@media screen and (min-width: 600px) and (max-width: 768px) {

.profile {
    width: ;

}

.profile img {
    width: ;
}

.text h2 {
    font-size: ;
}

.text h3 {
    font-size: ;
}

/*end section profile*/

.projects {
    left: ;

}

.project-1 {

}
}